<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="container">
    <div id="title">
        <h1>SORTING HOUSE</h1>
    </div>
    <div id="input">
      <input id="box"type="text" placeholder="give me a number!">
    </div>
    <div id="type">
      <div id="bubble">Bubble</div>
      <div id="insertion">Insertion</div>
      <div id="merge">Merge</div>
      <div id="selection">Selection</div>
      <div id="clear">Clear</div>
    </div>
    <div id="run">
      <div id="btn">Sorting!</div>
    </div>
    <div id="hoisting">
      <span id="standard">Room</span>
    </div>
    <div id="show">

    </div>
  </div>
</body>
</html>
